In [130]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [131]:
X_train=pd.read_csv('Train.csv', usecols=['Year','Kilometers_Driven','Fuel_Type','Transmission','Owner_Type','Mileage','Engine','Power','Seats'])
Y_train=pd.read_csv('Train.csv', usecols=['Price'])
X_test=pd.read_csv('Test.csv', usecols=['Year','Kilometers_Driven','Fuel_Type','Transmission','Owner_Type','Mileage','Engine','Power','Seats'])
Y_test=pd.read_csv('Test.csv', usecols=['Price'])
X=pd.read_csv('Train.csv')

In [121]:
print("Overview of X_train input:\n\n", X_train.head(5).to_string())
print("\nOverview of Y_train input:\n\n", Y_train.head(5))

Overview of X_train input:

    Year  Kilometers_Driven Fuel_Type Transmission Owner_Type     Mileage   Engine       Power  Seats
0  2017              16500    Petrol       Manual      First  23.84 kmpl  1199 CC      84 bhp    5.0
1  2017              47357    Diesel    Automatic      First  18.49 kmpl  1493 CC     100 bhp    7.0
2  2014              35000    Petrol       Manual      First   15.0 kmpl  1598 CC  103.52 bhp    5.0
3  2007             200000    Diesel       Manual     Second   17.2 kmpl  1396 CC    53.5 bhp    5.0
4  2013              64000    Diesel       Manual     Second  21.02 kmpl  1248 CC   88.76 bhp    5.0

Overview of Y_train input:

    Price
0   5.00
1   8.37
2   4.50
3   0.85
4   2.65

In [122]:
X_train['Engine'] = X_train['Engine'].str.replace('CC', '')
X_train['Mileage'] = X_train['Mileage'].str.replace('kmpl', '')
X_train['Power'] = X_train['Power'].str.replace('bhp', '')

X_test['Engine'] = X_test['Engine'].str.replace('CC', '')
X_test['Mileage'] = X_test['Mileage'].str.replace('kmpl', '')
X_test['Power'] = X_test['Power'].str.replace('bhp', '')

In [123]:
X_train['Engine'] = X_train['Engine'].astype(float)
X_train['Mileage'] = X_train['Mileage'].astype(float)
X_train['Power'] = pd.to_numeric(X_train['Power'],errors='coerce')

X_test['Engine'] = X_test['Engine'].astype(float)
X_test['Mileage'] = X_test['Mileage'].astype(float)
X_test['Power'] = pd.to_numeric(X_test['Power'],errors='coerce')

In [124]:
X_train['Mileage']=X_train['Mileage'].fillna(X_train['Mileage'].mean())
X_train['Engine']=X_train['Engine'].fillna(X_train['Engine'].mean())
X_train['Power']=X_train['Power'].fillna(X_train['Power'].mean())
X_train['Seats']=X_train['Seats'].fillna(X_train['Seats'].mean())

X_test['Mileage']=X_test['Mileage'].fillna(X_test['Mileage'].mean())
X_test['Engine']=X_test['Engine'].fillna(X_test['Engine'].mean())
X_test['Power']=X_test['Power'].fillna(X_test['Power'].mean())
X_test['Seats']=X_test['Seats'].fillna(X_test['Seats'].mean())

In [125]:
X_train = pd.get_dummies(X_train, columns=['Fuel_Type', 'Transmission'], drop_first=True)

owner_mapping = {
    'First': 1,
    'Second': 2,
    'Third': 3,
    'Fourth & Above': 4
}

X_train['Owner_Type'] = X_train['Owner_Type'].map(owner_mapping)


X_test = pd.get_dummies(X_test, columns=['Fuel_Type', 'Transmission'], drop_first=True)

owner_mapping = {
    'First': 1,
    'Second': 2,
    'Third': 3,
    'Fourth & Above': 4
}

X_test['Owner_Type'] = X_test['Owner_Type'].map(owner_mapping)

In [134]:
print("\nDetailed analysis of X_train input:\n\n", X_train.describe().to_string())

Detailed analysis of X_train input:

               Year  Kilometers_Driven      Mileage       Engine        Power        Seats
count  3750.000000        3750.000000  3750.000000  3750.000000  3750.000000  3750.000000
mean   2013.313333       58128.811733    18.041376  1621.910532   113.589670     5.277838
std       3.264250       40343.978048     4.522298   599.457483    53.515557     0.802768
min    1998.000000        1000.000000     0.000000    72.000000    34.200000     2.000000
25%    2011.000000       34000.000000    15.260000  1198.000000    78.000000     5.000000
50%    2014.000000       53000.000000    18.000000  1495.000000    98.600000     5.000000
75%    2016.000000       73157.750000    20.890000  1984.000000   138.067500     5.000000
max    2019.000000      775000.000000    28.400000  5461.000000   550.000000    10.000000

In [135]:
X_train[X_train['Mileage'] == 0].head() #Strange.

,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats
74,2005,120000,Petrol,Manual,First,0.0,1086.000000,113.58967,5.000000
130,2003,75000,Diesel,Automatic,Second,0.0,1621.910532,113.58967,5.277838
148,2019,15369,Diesel,Automatic,First,0.0,1950.000000,194.00000,5.000000
239,2008,55001,Diesel,Automatic,Second,0.0,1621.910532,113.58967,5.277838
260,2015,20000,Diesel,Automatic,First,0.0,2987.000000,165.00000,5.000000

In [133]:
preprocessing(X_train)
preprocessing(X_test)

In [132]:
def preprocessing(X_train):
    X_train['Engine'] = X_train['Engine'].str.replace('CC', '')
    X_train['Mileage'] = X_train['Mileage'].str.replace('kmpl', '')
    X_train['Power'] = X_train['Power'].str.replace('bhp', '')
    X_train['Engine'] = X_train['Engine'].astype(float)
    X_train['Mileage'] = X_train['Mileage'].astype(float)
    X_train['Power'] = pd.to_numeric(X_train['Power'],errors='coerce')
    X_train['Mileage']=X_train['Mileage'].fillna(X_train['Mileage'].mean())
    X_train['Engine']=X_train['Engine'].fillna(X_train['Engine'].mean())
    X_train['Power']=X_train['Power'].fillna(X_train['Power'].mean())
    X_train['Seats']=X_train['Seats'].fillna(X_train['Seats'].mean())
    X_train = pd.get_dummies(X_train, columns=['Fuel_Type', 'Transmission'], drop_first=True)
    owner_mapping = {
        'First': 1,
        'Second': 2,
        'Third': 3,
        'Fourth & Above': 4
    }    
    X_train['Owner_Type'] = X_train['Owner_Type'].map(owner_mapping)